<ul class="list-inline border-bottom p-2 content-body ">
    <li class="list-inline-item">
        <a href="">Trang chủ <span><i class="fas fa-angle-right"></i></span>
        </a>
    </li>
    <li class="list-inline-item">
        <a href="">Chi tiết sản phẩm <span></span>
        </a>
    </li>
</ul>
<div class="row">
    <div class="col-md-3">
        <img src="https://www.vinabook.com/images/thumbnails/product/240x/376544_p97434mproductsf115.jpg" alt=""
            srcset="">
    </div>
    <div class="col-md-6">
        <div class="product-info">
            <h1 class="product-title">Tạp chí Forbes - Số 115 (Tháng 3/2023)</h1>
            <div class="product-body p-1">
                Tác giả: <a>Nhiều tác giả</a> <br>
                <label>Nhà xuất bản:</label> <span class="publishers">Forbes Vietnam</span><br>
                <label>Nhà phát hành:</label> <a>Forbes Vietnam</a><br>
            </div>

            <div class="product-body-info pt-3 pb-3">
                Điểm Chạm Khách Hàng Để trả lời cho câu hỏi sau đại dịch COVID-19 chân dung của người
                tiêu dùng đã thay đổi như thế nào, NielsenIQ đã tiến hành nhiều khảo sát với những nhóm
                khách hàng khác nhau. Kết quả cho thấy hành vi khách hàng đã có sự ...
                <a>Xem thêm</a>
            </div>



        </div>
        <div class="border-top product-info">
            <div class="product-title p-3">Thông tin vận chuyển</div>
            <ul class="product-body">
                <li>Miễn phí giao hàng toàn quốc cho Đơn hàng từ 250.000đ (Áp dụng từ 1/2/2015.
                    <a>Xem chi tiết »</a>)
                </li>
                <li>Giao hàng hỏa tốc
                    <a>Xem chi tiết »</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-3 border p-4">
        <h1 class="border-bottom text-black" style="font-size: 14px;">Thông Tin Sản phẩm</h1>
        <ul class="list-inline ">
            <li>Giá bán : </li>
            <li>Giá khuyến mãi :</li>
            <li>Ship : </li>
            <li>Tình trạng hàng :</li>
        </ul>
        <h2 class="mt-4 border-bottom" style="font-size: 13px;">THÔNG TIN CHI TIẾT</h2>
        <p style="font-size: 12px;">Bạn sẽ bị tính phí tại thời điểm giao hàng. Nếu đây là giao dịch mua
            được cá nhân hóa hoặc thực hiện theo đơn đặt hàng, bạn sẽ bị tính phí tại thời điểm mua.</p>
        <button type="button" class="btn btn-dark col-12">Đặt Hàng Ngay</button>
    </div>
</div>
<!-- Tabs navs -->
<ul class="nav nav-tabs mt-5 border-bottom" id="ex1" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="ex1-tab-1" data-mdb-toggle="tab" href="#ex1-tabs-1" role="tab"
            aria-controls="ex1-tabs-1" aria-selected="true">Giới thiệu sách</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="ex1-tab-2" data-mdb-toggle="tab" href="#ex1-tabs-2" role="tab"
            aria-controls="ex1-tabs-2" aria-selected="false">Thông tin chi tiết</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="ex1-tab-3" data-mdb-toggle="tab" href="#ex1-tabs-3" role="tab"
            aria-controls="ex1-tabs-3" aria-selected="false">Đánh giá & Bình luận</a>
    </li>
</ul>
<!-- Tabs navs -->

<!-- Tabs content -->
<div class="tab-content" id="ex1-content">
    <div class="tab-pane fade show active" id="ex1-tabs-1" role="tabpanel" aria-labelledby="ex1-tab-1">
        <div class="product-info p-5">
            <h1 class="product-title">Tạp chí Forbes - Số 115 (Tháng 3/2023)</h1>
            <div class="product-share-rating-box">
                <div class="product-author-share p-1">
                    Tác giả: <a>Nhiều tác giả</a> <br>
                    <label>Nhà xuất bản:</label> <span class="publishers">Forbes Vietnam</span><br>
                    <label>Nhà phát hành:</label> <a>Forbes Vietnam</a><br>
                </div>
            </div>
            <div class="mainbox2-container introduction-contents">
                <div class="mainbox2-body pt-3 pb-3">
                    Để trả lời cho câu hỏi sau đại dịch COVID-19 chân dung của người tiêu dùng đã thay đổi
                    như thế nào, NielsenIQ đã tiến hành nhiều khảo sát với những nhóm khách hàng khác nhau.
                    Kết quả cho thấy hành vi khách hàng đã có sự thay đổi đáng kể so với trước khi dịch bệnh
                    bùng phát. Chân dung mới của khách hàng được phác thảo: Họ cân nhắc kỹ lưỡng về yếu tố
                    thương hiệu sản phẩm song song với yếu tố sức khỏe và bền vững. Do tâm lý bất an về vấn
                    đề tài chính, người tiêu dùng quan tâm so sánh công năng của sản phẩm với số tiền bỏ ra
                    để sở hữu. Giai đoạn đại dịch khiến nhiều khách hàng lần đầu tiên đã có những trải
                    nghiệm mua sắm online nên có sự cân nhắc giữa kênh mua sắm trực tuyến và tới cửa hàng
                    vật lý.

                    Một trong những lĩnh vực thay đổi mạnh mẽ trong ba năm qua dưới tác động của đại dịch là
                    lĩnh vực bán lẻ. Sự thay đổi này đến từ nhiều yếu tố: người tiêu dùng giao tiếp trên
                    không gian số nhiều hơn nên các phương thức quảng bá và giới thiệu sản phẩm cũng buộc
                    phải thay đổi cách tiếp cận; chuỗi logistics cung ứng sản phẩm giảm sự phụ thuộc vào
                    phương thức truyền thống; thanh toán không dùng tiền mặt lên ngôi kéo theo sự thay đổi
                    của hình thức thanh toán trong mua sắm. Một câu hỏi lớn đặt ra với các doanh nghiệp bán
                    lẻ hiện nay là họ đã đủ thấu hiểu những thay đổi của khách hàng hay chưa để có thể chạm
                    tới nhu cầu khách hàng?

                    Nối tiếp việc ghi nhận những thay đổi sau đại dịch trong lĩnh vực logistics, y tế, tài
                    chính… Chuyên đề tháng 3.2023 của Forbes Việt Nam ghi nhận những chuyển động và thay đổi
                    trong ngành bán lẻ hiện đại. Qua những câu chuyện lần đầu tiên được kể độc giả có thể
                    hình dung ra bức tranh chung: Openasia Group - nhà phân phối sản phẩm xa xỉ đang tự làm
                    mới mình sau 30 năm hoạt động; Central Retail Việt Nam, một thế lực trong lĩnh vực bán
                    lẻ hiện đại, sau mười năm hoạt động ở Việt Nam muốn mở rộng tầm ảnh hưởng; Decathlon -
                    nhà sản xuất đồ thể thao lớn nhất thế giới đi vào thị trường bán lẻ nội địa theo một
                    cách riêng… Bên cạnh những doanh nghiệp lớn, nhiều cái tên hứa hẹn cũng được “giải mã”
                    trong chuyên đề này như Katinat hay KiotViet.

                    Ở Việt Nam, tầng lớp trung lưu đã gia tăng đáng kể những năm qua. Tập khách hàng năng
                    động trẻ trung này với khả năng tài chính có thể mạnh tay mua sắm, họ am hiểu không gian
                    số và ngày càng ưa thích trải nghiệm các dịch vụ được cá nhân hóa. Phần thưởng của thị
                    trường giai đoạn tới dành cho các nhà bán lẻ xuất sắc, các công ty cung cấp trải nghiệm
                    khách hàng tốt nhất và tạo ra được điểm chạm tới cảm xúc khách hàng.

                </div>

            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="ex1-tabs-2" role="tabpanel" aria-labelledby="ex1-tab-2">
        <div class="p-5 row">
            <h1 class="product-title">Thông tin chi tiết</h1>
            <div class="col-md-6">
                <ul style="font-size: 15px;">
                    <li>Tác giả: <a href="">Nhiều tác giả</a></li>
                    <li>Nhà phát hành: <a href="">Forbes Vietnam</a></li>
                    <li>Khối lượng: <span>400.00 gam</span></li>
                    <li>Định dạng: <span>Bìa mềm</span></li>
                    <li>Ngày phát hành: <span>03/2023</span></li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul style="font-size: 15px;">
                    <li>Nhà xuất bản: <span> Forbes Vietnam</span></li>
                    <li>Mã Sản phẩm: <span> 8938539857005</span></li>
                    <li>Ngôn ngữ: <span>Tiếng Việt</span></li>
                    <li>Kích thước: <span>20.5 x 27 cm</span></li>
                    <li>Số trang: <span> 112</span></li>
                </ul>
            </div>


        </div>
    </div>
    <div class="tab-pane fade" id="ex1-tabs-3" role="tabpanel" aria-labelledby="ex1-tab-3">
        <div class="row p-5" ng-controller="RatingController">
            <h1 class="product-title">Nhận xét từ khách hàng</h1>
            <div class="row col-md-6 border shadow p-3 mb-5 rounded " style="width: 400px;">
                <div class="col-md-6">
                    <div>Đánh giá trung bình</div>
                </div>
                <div class="col-md-6">
                    <ul>
                        <li class="list-inline" ng-repeat="star in stars">
                            <span>{{ star }} <i class="fas fa-star" style="color: #FFD700;"></i></span>
                            <div class="progress">
                                <div class="progress-bar bg-warning list-inline-item"style="width: {{ getRatingPercentage(star) }}%;"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 p-5 pt-0">
                <div class="rating input-group">
                    <span class="text-black text-center"><span><i class="fas fa-1"></i></span>. Đánh giá</span>
                    <div class="rating-input text-center" ng-repeat="star in stars" ng-click="setRating(star)"
                        ng-class="{ 'filled': star <= tempRating }"><i class="fas fa-star"></i>
                    </div>
                </div>
                <button class="btn btn-light border" ng-click="submitRating()">Gửi Đánh giá</button>
            </div>


        </div>
    </div>
</div>
<!-- Tabs content -->